@model FitnessCenterProject.Models.Trainer

@{
    ViewData["Title"] = "Eğitmen Detayları";
}

<h1>Eğitmen Detayları</h1>

<div>
    <h4>@Model.Name</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Name)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Name)</dd>

        @* 💡 GÜNCELLEME: Specialty kaldırıldı, Hizmetler listeleniyor *@
        <dt class="col-sm-3">Sunulan Hizmetler</dt>
        <dd class="col-sm-9">
            @if (Model.TrainerServices != null && Model.TrainerServices.Any())
            {
                <ul>
                    @foreach (var ts in Model.TrainerServices)
                    {
                        <li>@ts.Service.Name (@ts.Service.Price.ToString("C"))</li>
                    }
                </ul>
            }
            else
            {
                <span class="text-muted">Bu eğitmenin tanımlı bir hizmeti bulunmamaktadır.</span>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TrainerId" class="btn btn-warning">Düzenle</a> |
    <a asp-action="Index" class="btn btn-secondary">Listeye Geri Dön</a>
</div>